extends ../layout/layout

block head
    script(src="tracked.js")

block nav
    include ../layout/_nav

block header
    header
        div(class="header-image")
            if achievements
                div(class="header-game-details")
                    h3 #{gameName}
                    if achievements.unlocked.length === achievements.count
                        p(class='achiv-all-completed gold-shimmer') All completed!
                    else
                        p Total collected #{achievements.unlocked.length}/#{achievements.count}
                img(src=`https://cdn.cloudflare.steamstatic.com/steam/apps/${appid}/library_hero.jpg`)

block body
    if achievements
        div(class="achiv-wrapper")
            if achievements.locked.length
            p(class="achiv-wrapper-title") Locked (#{achievements.locked.length}/#{achievements.count})
            each achievement in achievements.locked
                div(class="achiv-container")
                    div(class="achiv")
                        img(src=achievement.icon class="achiv-image")
                        div(class="achiv-descr-wrapper")
                            div(class="achiv-title")
                                p #{achievement.displayName}
                                div(class="achiv-icons")
                                    i(class=`icon ${achievement.tracked ? 'active' : ''}` id="achiv-tracking" data-id=achievement.id)
                                        include ../../public/icons/tracking.svg
                                    i(class=`icon ${achievement.note ? 'active' : ''}` id="achiv-notes" data-id=achievement.id data-note=achievement.note)
                                        include ../../public/icons/note.svg
                                    i(class="icon" id="achiv-duckduckgo" data-url=`https://duckduckgo.com//?q=${gameName}+${achievement.displayName}+site:stratege.ru`)
                                        include ../../public/icons/duckduckgo.svg
                            div(class="achiv-descr") #{achievement.description}
            if achievements.unlocked.length
            p(class="achiv-wrapper-title") Unlocked (#{achievements.unlocked.length}/#{achievements.count})
            each achievement in achievements.unlocked
                div(class="achiv-container")
                    div(class="achiv", data-id=achievement.id)
                        img(src=achievement.icon, class="achiv-image")
                        div(class="achiv-descr-wrapper")
                            div(class="achiv-title") #{achievement.displayName}
                            div(class="achiv-descr") #{achievement.description}